<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>CEF - Ciderum Education Festival</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/cef.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Tentang CEF</a></li>
          <li><a href="http://docs2.openthinklabs.com/home/berantas-kemiskinan/studi-kasus/desa-ciderum-kecamatan-caringin-kabupaten-bogor" target="new">Tentang Desa Ciderum</a></li>
          <li><a href="#">Hubungi Kami</a></li>
        </ul>
        <h3 class="text-muted">CEF - Ciderum Education Festival</h3>
      </div>

     <div class="jumbotron">
       <p  style="font-size:10px;text-align:right;margin-right:-50px">
         Selamat Hari Kemerdekaan 17 Agustus 2014.<br/>
         1945 - 1949.....Tulang-tulang berserakan antara Tangerang dan Bekasi...<br/>
         1962 - 1963.....Tulang-tulang berserakan di pantai dan hutan belantara Irian Barat (Papua)...<br/><br/>
         Jumlah jari sebelah tanganku adalah jumlah anak muda yang aku kenal dengan baik, <br/>yang berangkat ke Irian Barat dan tidak kembali...<br/><br/>  
         
         Setiap upacara penaikan Sang Merah Putih membuat berlinang air mataku ... <br/>
         dan terkenang masa silam........berbulan-bulan terapung dilautan, <br/>
         upacara penaikan Sang Merah Putih di buritan kapal setiap matahari terbit,<br/> 
         mengucapkan syukur ke Hadirat Allah SWT ...<br/>
         kapal kami tidak menjadi sasaran torpedo kapal selam Belanda.....<br/>
         50 tahun kemudian aku menjadi salah satu bagian dari Upacara Penaikan Bendera <br/>
         17 Agustus 2014 di MTs Sirojul Wildan, Desa Ciderum bersama 450 murid, <br/>
         cucu-cucuku sebagai generasi penerus. ...Merdeka tetap Merdeka... <br/>
         nikmatilah Kemerdekaan ini, wahai generasi penerus.....<br/>
         namun ingatlah, Kemerdekaan ini tak dapat diraih tanpa tulang-tulang<br/> 
         yang berserakan antara Tangerang dan Bekasi dan tulang-tulang <br/>
         yang berserakan di pantai dan hutan belantara Papua. <br/>
         <em>- MangSi </em>
       </p>
     </div>
     
     <div class="row-marketing">
      <div class="col-lg-12">
         <p>Ciderum Education Festival merupakan acara Festival Pendidikan yang dilaksanakan setiap liburan sekolah di Kampung Ciletuh,  Desa Ciderum, Kecamatan Caringin, Kabupaten Bogor dan berpusat di Yayasan Al-Misbahul Ulum Quran (Pelita Ilmu-Ilmu Al-Quran).</p>

         <p>Kegiatannya diadakan 1 minggu penuh dengan tema-tema utama yang berbeda setiap harinya, berikut adalah beberapa tema yang kemungkinan akan diangkat :</p>
         <hr/>
       </div>
     </div>
     

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Pendidikan Karakter</h4>
          <p></p>

          <h4>Hidroponik</h4>
          <p></p>

          <h4>Aquaponik</h4>
          <p></p>
        </div>

        <div class="col-lg-6">
          <h4>Nol Sampah</h4>
          <p></p>

          <h4>RT/RW Siaga</h4>
          <p></p>

          <h4>Peran Institusi Pendidikan, baik formal maupun informal dalam mendukung program Kedaulatan Pangan Nusantara</h4>
          <p></p>
        </div>
      </div>
      
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Energi Terbarukan</h4>
          <p></p>
        </div>

        <div class="col-lg-6">
          <h4>Integrated Farming</h4>
          <p></p>
        </div>
      </div>      
      
      <div class="row marketing">
        <div class="col-lg-12">
		<h3>Sedekah (Baca : "Investasi") Sepeda (Bekas)</h3>
		<hr>
		<div class="pull-right">
		  <fieldset>
		    <legend>Jumlah Sepeda Terkumpul</legend>
		    <img src="/images/bicycle-icon.png"/><br/>
		    <center><p class='bg-primary' style="font-size:200%">2</p></center>
		  </fieldset>
		</div>
		<p>Sedekah Sepeda (Bekas) merupakan salah satu kegiatan CEF, Ciderum Education Festival, dimana kami mencoba membantu mengumpulkan Sepeda-Sepeda (Bekas) dari Sahabat yang berniat untuk menyedekahkannya kepada Yayasan Al-Misbah Ulumul Qur'an (MTs Sirojul Wildan dan MA Sirojul Athfal), nantinya sepeda ini akan digunakan oleh siswa-siswi MTs Sirojul Wildan dan MA Sirojul Athfal, dengan modal sepeda-sepeda (bekas) ini pun sekaligus dapat kami gunakan untuk belajar memperbaiki sepeda.</p> 
        <p>Mudah-mudahan, selain dapat lebih bersahabat dengan lingkungan, nantinya disetiap Desa tempat siswa tinggal, akan tumbuh bengkel-bengkel sepeda baru....</p>
        <p>Jika Sahabat, ingin menyedekahkan Sepeda (Bekas) kepada Mts Sirojul Wildan dan MAN Sirojul Athfal untuk digunakan oleh siswa-siswi nya, dapat mengisi formulir berikut : 
        <a href="https://docs.google.com/forms/d/1ailCTA0O_Bu6cCUHkLKX7pSN1AQEzbqSyFfTa_7op-Q/viewform" target="new">Formulir Sedekah Sepeda (Bekas)</a>
        </p>           
        </div>
      </div>            
      
      <div class="row marketing">
        <div class="col-lg-12">
		<h3>Saya, Kami Tertarik untuk Mengikuti CEF, Ciderum Education Festival!</h3>
		<hr>
		<p>Karena Portal CEF masih dalam tahap pengembangan, jika Sahabat tertarik mengikuti CEF, Silahkan kirim email ke :  <a href="mailto:info@negeripelangi.com">info@negeripelangi.com</a>. <br/> Dengan Subjek Email : "Berminat Mengikut CEF : Ciderum Education Festival", data yang perlu dikirim : 
		  <ol>
		    <li>Alamat, cukup data Kelurahan/Desa, Kecamatan, Kota/Kabupaten dan Propinsi tempat Sahabat tinggal.</li>
		    <li>Nomor HP</li>
		  </ol>
		</p>          
        </div>
      </div>      

      <div class="footer">
        <p>&copy; <a href="http://www.negeripelangi.org/" target="new" title="Negeri Pelangi">Negeri Pelangi</a> 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
